<%# vendor/extensions/snoods/app/views/refinery/snoods/admin/snoods/%>
<%= form_for [refinery, :snoods_admin, @snood] do |f| -%>
<%# form_for @snood, url: {action: "create"} do |f| %>
<%# form_for [refinery, :snoods, @snood] do |f| %>
  <%= render '/refinery/snoods/admin/snoods/error_messages',
              :object => @snood,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :first_name -%>
    <%= f.text_field :first_name -%>
  </div>
 

  <div class='field'>
    <%= f.label :last_name -%>
    <%= f.text_field :last_name -%>
  </div>

  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email -%>
  </div>

  <div class='field'>
    <%= f.label :phone -%>
    <%= f.text_field :phone -%>
  </div>

  <div class='field'>
    <%= f.label :company -%>
    <%= f.text_field :company -%>
  </div>

  <div class='field'>
    <%= f.label :download -%>
    <%= f.text_field :download -%>
  </div>

 <div class='field'>
   <%= f.label :contactable -%>
   <%= f.check_box :contactable, :checked => @snood[:contactable] -%>
 </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.snoods.admin.snoods.snood'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @snood.first_name) -%>
<% end %>
<%# end %>
