<!-- /snoods/admin/snoods/show.html.erb -->


<div  id='page_snood_show'>

<div class='fields'>
	<div class='field'>
    <span class='label_with_help'>First Name</span>
    <div class='field'>
      <%=raw @snood.first_name %>
	  </div>
	<div class='field'>
    <span class='label_with_help'>Last Name</span>
    <div class='field'>
      <%=raw @snood.last_name %>
	  </div>
	<div class='field'>
    <span class='label_with_help'>Email</span>
    <div class='field'>
      <%=raw @snood.email %>
	  </div>
  	<div class='field'>
      <span class='label_with_help'>Phone</span>
      <div class='field'>
        <%=raw @snood.phone %>
  	  </div>
  	<div class='field'>
      <span class='label_with_help'>Company</span>
      <div class='field'>
        <%=raw @snood.company %>
  	  </div>
	<div class='field'>
    <span class='label_with_help'>Download</span>
    <div class='field'>
      <%=raw @snood.download %>
	  </div>
  	<div class='field'>
      <span class='label_with_help'>Contactable</span>
      <div class='field'>
        <%=raw @snood.contactable %>
  	  </div>

 
     </div>


